{% load static %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

<link rel="stylesheet" href="{% static 'sidebar.css' %}">

<nav id="sidebar">
    <div class="sidebar_header">
        <img src="{% static 'images/user_placeholder.jpg' %}" alt="">
        <div class="personal_info">
            <p class="username">CurrentUsername</p>
            <p class"=email">CurrentUserEmail</p>
        </div>
    </div>

    <ul class="list-unstyled components vault_links">
        <li class="sidebar_link">
            {% fa5_icon 'folder' 'far' size="fa-4x" %}
            <a href="#">Personal Vault</a>
        </li>
        <li class="sidebar_link">
            {% fa5_icon 'folder' 'far' size="fa-4x" %}
            <a href="#">Department Vault</a>
        </li>
        <li class="sidebar_link">
            {% fa5_icon 'file' 'far' size="fa-4x" %}
            <a href="#">Dangling Files</a>
        </li>
        <li class="sidebar_link">
            {% fa5_icon 'users' 'fas' size="fa-4x" %}
            <a href="#">User Management</a>
        </li>
        <li class="sidebar_link">
            {% fa5_icon 'database' 'fas' size="fa-4x" %}
            <a href="#">Admininistration</a>
        </li>
    </ul>
</nav>