{% load static %}
{% load bootstrap4 %}
{% load fontawesome_5 %}

<link rel="stylesheet" href="{% static 'sidebar.css' %}">

<nav id="sidebar">
    <div class="sidebar_header">
        <img src="{% static 'images/user_placeholder.jpg' %}" alt="">
        <div class="personal_info">
            {% csrf_token %}
            <p class="username">{{request.user.username}}</p>
            <p class="email">{{request.user.email}}</p>
        </div>
    </div>

    <ul class="list-unstyled components vault_links">
        <li class="sidebar_link">
            {% fa5_icon 'folder' 'far' size="fa-4x" %}
            <a href="/files/personal/">Personal Vault</a>
        </li>
        {% for g in user.groups.all %}
        <li class="sidebar_link">
            {% fa5_icon 'folder' 'far' size="fa-4x" %}
            <a href="/files/department/{{g.name}}/">{{g.name}}</a>
        </li>
        {% endfor %}
        <li class="sidebar_link">
            {% fa5_icon 'file' 'far' size="fa-4x" %}
            <a href="#">Dangling Files</a>
        </li>
        <li class="sidebar_link">
            {% fa5_icon 'users' 'fas' size="fa-4x" %}
            <a href="/users/view_all/">User Management</a>
        </li>
        <li class="sidebar_link">
            {% fa5_icon 'database' 'fas' size="fa-4x" %}
            <a href="/admin/">Admininistration</a>
        </li>
    </ul>
</nav>
