{% extends 'base.html' %}

{% load bootstrap4 %}
{% load fontawesome_5 %}

{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{% block content %}
<div class="d-flex flex-row justify-content-center">
  <div class="p2 password-div">
    <h1 class="password-h1">Forgot Password</h1>
    <p>
      We've emailed you instructions for setting your password, if an account exists with the email you entered.
      You should receive them shortly.
    </p>
    <p>
      If you don't receive an email, please make sure you've entered the address you registered with,
      and check your spam folder.
    </p>
  </div>
</div>
{% endblock %}
