{% load static %}
{% load fontawesome_5 %}

<link rel="stylesheet" href="{% static 'css/file_browser.css' %}">
<script src="{% static 'js/file_browser.js' %}"></script>

<script>
    var FILE_ICON = '{% fa5_icon "file" "far" size="fa-3x" %}'
    var FOLDER_ICON = '{% fa5_icon "folder" "far" size="fa-3x" %}'
    var CURRENT_FOLDER = "{{target_folder}}"

    UpdateFileBrowser(CURRENT_FOLDER)
</script>

<div id="file_manager">
    <div id="hotbar">
        <div id="filepath">
            {% fa5_icon 'sitemap' 'fas' %}
            <p>Loading...</p>
        </div>

        <div id="actions">
            <a href="#" class="action">
                {% fa5_icon 'download' 'fas' %}
                <p>Download</p>
            </a>
            <a href="#" class="action">
                {% fa5_icon 'upload' 'fas' %}
                <p>Upload</p>
            </a>
            <a href="#" class="action">
                {% fa5_icon 'share-alt' 'fas' %}
                <p>Share</p>
            </a>
            <a href="#" class="action">
                {% fa5_icon 'info' 'fas' %}
                <p>Info</p>
            </a>
            <a href="#" class="action">
                {% fa5_icon 'edit' 'fas' %}
                <p>Edit</p>
            </a>
            <a href="#" class="action">
                {% fa5_icon 'trash-alt' 'fas' %}
                <p>Delete</p>
            </a>
            <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                Launch demo modal
            </button> -->

            <a href="#" class="action" , data-toggle="modal" data-target="#create_folder_modal">
                {% fa5_icon 'plus' 'fas' %}
                <p>Add Folder</p>
            </a>
        </div>

    </div>

    <div id="browser">
        <table>
            <tr id="header">
                <th></th>
                <th>Name {% fa5_icon 'chevron-down' 'fa' %}</th>
                <th>Last Modified {% fa5_icon 'chevron-down' 'fa' %}</th>
                <th>Type {% fa5_icon 'chevron-down' 'fa' %}</th>
                <th>Size {% fa5_icon 'chevron-down' 'fa' %}</th>
                <th>Owned By {% fa5_icon 'chevron-down' 'fa' %}</th>
            </tr>
        </table>
    </div>
</div>


<!-- Add Folder -->
<div class="modal fade" id="create_folder_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form action="" method="post">
                {% csrf_token %}

                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Create New Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="#folder_name">Folder Name</label>
                        <input id="folder_name" type="text" class="form-control" placeholder="Enter folder name">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="close_modal" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary" onclick="CreateNewFolder('#folder_name')">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>