<!DOCTYPE html>
<html>
<head>
  {% load bootstrap4 %}
  {% bootstrap_css %}
  {% bootstrap_javascript jquery='full' %}

  <title>Add user page</title>
</head>
<body>
<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addUserModal">
  add user
</button>

<!-- Modal -->
<div class="modal fade" id="addUserModal" tabindex="-1" role="dialog" aria-labelledby="addUserModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="addUserModalLabel">Add new user</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method="post" class="container">
        {% csrf_token %}

        <div class="modal-body">
          <div class="form-row">
            <div class="form-group col-md-6">
              First Name
              {{form.name}}
            </div>
            <div class="form-group col-md-6">
              Last Name
              {{form.lastName}}
            </div>
            <div class="form-group col-md-6">
              Department
              {{form.department}}
            </div>
            <div class="form-group col-md-6">
              Roles
              {{form.roles}}
            </div>
            <div class="form-group col-md-6">
              Temp Password
              {{form.temp_password}}
            </div>
            <div class="form-group col-md-6">
              Email
              {{form.email}}
            </div>

          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">cancel</button>
          <button type="submit" class="btn btn-primary">add user</button>
        </div>
      </form>
    </div>
  </div>
</div>
</body>
</html>
